<div class="mb-2">
    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#{{input_id}}OptionsSearchBox">Select {{ label }} Prompt</button>
    <span class="text-secondary" id="{{input_id}}Result"></span>
</div>
            
<!-- Modal -->
<div class="modal fade modal-lg" id="{{input_id}}OptionsSearchBox" data-input-id="{{ input_id }}" tabindex="-1" aria-labelledby="{{input_id}}OptionsSearchBoxModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="{{input_id}}OptionsSearchBoxModalLabel">Find {{input_id}} Prompts</h2>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <input class="form-control" type="text" id="{{input_id}}QueryInput" placeholder="type your prompt" />
                </div>
                <div class="mb-1">
                    <button type="button" class="btn btn-outline-dark btn-sm mb-1 text-end" id="{{ input_id }}Btn" onclick="selectAllOptions('{{ input_id }}')">
                        Check All
                    </button>
                    <span id="modal-tips" class="text-end"></span>
                </div>
                <table class="table table-bordered table-sm"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- options modal end -->


<script>
    document.getElementById("{{ input_id }}OptionsSearchBox").addEventListener("shown.bs.modal", function(ev){
        searchPrompts("{{ input_id }}", "");
    });
    
    document.getElementById("{{ input_id }}OptionsSearchBox").addEventListener("hidden.bs.modal", function(ev){
        showPromptResult("{{ input_id }}");
    });

    document.getElementById("{{ input_id }}QueryInput").addEventListener("input", function(ev){
        searchPrompts("{{ input_id }}", ev.target.value);
    });
    
</script>