<div class="mb-2">
    <button type="button" class="btn btn-outline-dark btn-sm" id="{{ input_id }}Btn" onclick="selectAllOptions('{{ input_id }}')">
        Select All {{ label }}
    </button>
    
    {% for opt in options %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="{{ input_id }}" value="{{ opt.value }}" id="{{ input_id }}">
        <label class="form-check-label" for="{{ input_id }}" title="{{ opt.info }}">{{ opt.name }}</label>
    </div>
    {% endfor %}
</div>

<script>
</script>