{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}- M1 Stable Diffusion</title>
    <link href="{{ url_for('static', filename='bootstrap-5.3.0/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg" style="background-color: #ead458;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Slack Attack</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% block nav %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/learn">Learn Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/play">Play Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/assistance">Assistance</a>
                  </li>
                  {% endblock %}
                  <li class="nav-item">
                    <a class="nav-link fw-bolder" href="#" id="fs_large">A |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-semibold" href="#" id="fs_normal">A |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal" href="#" id="fs_small">A |</a>
                  </li>
              </div>
            </div>
          </nav>

        {% block body %} {% endblock %}
    </div>
    <script>
    </script>
  </body>
</html>