{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}- M1 Stable Diffusion</title>
    <link href="{% static 'bootstrap-5.3.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-5.3.0/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/default.js' %}"></script>
    <link href="{% static 'css/default.css' %}" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HEWDZ3RGVR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HEWDZ3RGVR');
    </script>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg bg-yellow">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">M1 Stable Diffusion</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% block nav %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Generate</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/history/">History</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/example/">Example</a>
                  </li>
                  {% endblock %}
              </div>
            </div>
          </nav>
          <div class="container-fluid">
            {% block body %} {% endblock %}
          </div>
    <script>
    </script>
  </body>
</html>