{% extends 'base.html' %}
{% load inputs %}


{% block title %}
Generate Image
{% endblock %}



{% block body %}

<div class="row">
    <div class="col-4">
        <h1>Prompt</h1>
        <form id="generateForm">
            <div class="mb-3">
                <label class="form-label">Subject</label>
                <textarea class="form-control" rows="4" name="subject"></textarea>
            </div>
            {% multiple_check "medium" "Medium" mediums %}
            <p id="tips"></p>
            <button class="btn btn-primary" id="generateBtn" type="submit">Generate</button>
        </form>
    </div>
    <div class="col-8">
        <h1>Generated Images <small class="text-muted" id="loader"></small></h1>
        <div id="images"></div>
    </div>
</div>

<script>
$(document).ready(function(e){
    $("#generateForm").bind("submit", function(e) {

        var form = $("#generateForm");
        var btn = $("#generateBtn");
        btn.addClass("disabled");

        var formData = form.serializeArray();
        console.debug("generate images ", formData);

        // tranform form data to object
        var o = {};
        $.each(formData, function(){
            if (o[this.name]) {
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = [this.value || ""];
            }
        });
        o['subject'] = o['subject'][0];
        console.debug("request body ", o);
        // send request
        addLoading("loader");
        let start = new Date();
        $.ajax({
            url: "/generate_image/",
            type: "POST",
            data: JSON.stringify(o),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(resp) {
                let reqId = resp.id;

                window.setTimeout(function(){
                    getRequestPrompts(reqId, resp.combs.length, start);
                }, 1000);
            },
            error: function(err) {
                console.error(err);
                var tips = $("#tips");
                tips.removeClass("");
                tips.addClass("text-danger");
                tips.html(err.statusText);
                btn.removeClass("disabled");
                removeLoading("loader", start);
            }

        });

        return false;
    });
});

function addLoading(containerId) {
    let html = [
        '<div class="spinner-border text-primary" role="status">',
        '    <span class="visually-hidden">Loading...</span>',
        '</div>',
    ].join("");
    $("#" + containerId).html(html);
}

function removeLoading(containerId, start) {
    let end = new Date();
    let seconds = (end.getTime() - start.getTime()) / 1000;
    $("#" + containerId).html("Spend " + seconds + " seconds");
}

function getRequestPrompts(req_id, n_comb, start) {

    $.ajax({
        url: "/get_generate_request/",
        type: "GET",
        data: {req_id: req_id},
        //contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(resp) {
            
            var content = "";
            for(const row of resp.matrix) {
                content += "<div class='row'>";
                for(const item of row) {
                    let itemHtml = render_image(item);
                    content += itemHtml;
                }
                content += "</div>";
            }
            $("#images").html(content);
            if (resp.n == n_comb) {
                removeLoading("loader", start);
                $("#generateBtn").removeClass("disabled");
            } else {
                window.setTimeout(function(e) {
                    getRequestPrompts(req_id, n_comb, start);
                }, 1000);
            }
        },
        error: function(err) {
            console.error(err);
            var tips = $("#tips");
            tips.removeClass("");
            tips.addClass("text-danger");
            tips.html(err.statusText);
            $("#generateBtn").removeClass("disabled");
            removeLoading("loader", start);
        }

    });
}
</script>

{% endblock %}