{% extends 'base.html' %}
{% load inputs %}


{% block title %}
Generate Image
{% endblock %}



{% block body %}

<div class="row">
    <div class="col-4">
        <h4>Text 2 Image</h4>
        <form id="generateForm" class="form">
            <div class="mb-3">
                <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#control" aria-expanded="false" aria-controls="control">
                    Control Generate
                </button>
            </div>
            <div id="control" class="collapse">
                <div class="mb-3">
                    <select class="form-select" name="model_id">
                        {% for item in model_ids %}
                        <option value="{{ item.id }}" {% if item.checked %}selected{%endif%}>{{ item.id }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2">
                    <label class="form-label">Guidance Scale</label>
                    <input type="number" name="guidance_scale" value="7.5" step="0.1" class="form-control" />
                    <div class="form-text">Values between 7 and 8.5 are good choices.</div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-1">
                            <label class="form-label">Width</label>
                            <input type="integer" class="form-control" name="width" placeholder="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-1">
                            <label class="form-label">Height</label>
                            <input type="integer" class="form-control" name="height" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-1">
                            <label class="form-label" id="stepsLabel">Steps</label>
                            <input type="range" class="form-range" name="steps" value="20" max="50" min="1" step="1" />
                            <div class="form-text">Default is 20. Range from 1 to 50</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-1">
                            <label class="form-label">Seed</label>
                            <input type="integer" class="form-control" name="seed" value="0" />
                        </div>
                    </div>
                </div>

            </div>
            <hr />
            
            <div class="mb-2">
                <label class="form-label">Subject</label>
                <textarea class="form-control" rows="4" name="subject"></textarea>
                <div class="form-text">You can use your language, for example chinese.</div>
            </div>
            
            <div class="mb-2">
                <label class="form-label">Exclude (Negative)</label>
                <textarea class="form-control" rows="4" name="exclude"></textarea>
                <div class="form-text">You can use your language, for example chinese.</div>
            </div>

            {% for item in options_list %}
                {% multiple_check item.input_id item.name item.options %}
            {% endfor %}


            <p id="tips"></p>
            <button class="btn btn-primary mb-5" id="generateBtn" type="submit">Generate</button>
        </form>

    </div>
    <div class="col-8">
        <div class="row row-cols-lg-auto g-3 align-items-center p-3">
            <div class="col-12">
                <select class="form-control" name="n_column">
                    <option value="2">2 Columns</option>
                    <option value="3" selected>3 Columns</option>
                    <option value="4">4 Columns</option>
                    <option value="6">6 Columns</option>
                    <option value="12">12 Columns</option>
                </select>
            </div>
            <div class="col-12">
                <div id="loader"></div>
            </div>
        </div>
        <div id="images"></div>
    </div>
</div>

<script>

$(document).ready(function(e){
    //functions
    var resp_images = [];
   
    let addLoading = function(containerId, percentage) {
        let html = [
            '  <div class="spinner-border text-primary" role="status">',
            '    <span class="visually-hidden">Loading...</span>',
            '  </div>',
            ' <span>' + round(percentage, 2) + '%</span>'
        ].join("");
        $("#" + containerId).html(html);
    };

    let removeLoading = function(containerId, start) {
        let end = new Date();
        let seconds = (end.getTime() - start.getTime()) / 1000;
        $("#" + containerId).html("<span class='text-success'>Spend " + seconds + " seconds</span>");
    };

    let list2matrix = function(items, n_column) {
        let m = [];

        //console.log("items ", items, ", length ", items.length, ", n_column ", n_column);
        for(let i=0; i<items.length; i+=n_column) {
            let row = [];
            for (let j=0; j<n_column; j++) {
                if (i + j >= items.length) {
                    break;
                }
                let item = items[i + j];
                //console.debug("item is ", item);
                row.push(structuredClone(item));
                //console.debug("row is ", row);
            }
            m.push(structuredClone(row));
        }

        return m;
    };

    let renderImageCard = function(item, n_column) {
        let col = 12 / n_column;
        let itemHtml = [
            '<div class="col-' + col + '">',
            '  <div class="card">',
            '    <a target="_blank" href="' + item.url + '"><img src="' + item.url + '" class="card-img-top" alt="' + item.text + '" /></a>',
            '    <div class="card-body">',
            '      <p class="card-text">' + item.text + "</p>",
            '      <p class="card-text text-secondary">Exclude: ' + safeString(item.exclude) + "</p>",
            '    </div>',
            '  </div>',
            '</div>'
        ].join("");

        return itemHtml;
    }

    let safeString = function(s) {
        if(s) {
            return s;
        } else {
            return "";
        }
    };

    let renderImages = function(images, n_column) {
        console.debug("images ", images);
        var content = "";
        var imagesIndex = [...Array(images.length).keys()];
        let matrix = list2matrix(imagesIndex, n_column);
        console.debug("matrix ", matrix);
        
        for(const row of matrix) {
            content += "<div class='row'>";
            for(const idx of row) {
                let item = images[idx];
                let itemHtml = renderImageCard(item, n_column);
                content += itemHtml;
            }
            content += "</div>";
        }
        $("#images").html(content);
    };

    let getRequestPrompts = function(req_id, n_comb, start) {

        $.ajax({
            url: "/get_generate_request/",
            type: "GET",
            data: {req_id: req_id},
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(resp) {
                resp_images = resp.data;
                let n_column = parseInt($("select[name='n_column']").val());
                renderImages(resp.data, n_column);
                
                if (resp.n == n_comb) {
                    removeLoading("loader", start);
                    $("#generateBtn").removeClass("disabled");
                } else {
                    addLoading("loader", resp.n * 100 / n_comb);
                    window.setTimeout(function(e) {
                        getRequestPrompts(req_id, n_comb, start);
                    }, 1000);
                }
            },
            error: function(err) {
                console.error(err);
                var tips = $("#tips");
                tips.removeClass("");
                tips.addClass("text-danger");
                tips.html(err.statusText);
                $("#generateBtn").removeClass("disabled");
                removeLoading("loader", start);
            }

        });
    };

    //bind form submit event
    $("#generateForm").bind("submit", function(e) {

        var form = $("#generateForm");
        var btn = $("#generateBtn");
        btn.addClass("disabled");

        var formData = form.serializeArray();
        console.debug("generate images ", formData);

        // tranform form data to object
        var o = {};
        $.each(formData, function(){
            if (o[this.name]) {
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = [this.value || ""];
            }
        });
        o['model_id'] = o['model_id'][0];
        o['subject'] = o['subject'][0];
        o['exclude'] = o['exclude'][0];
        o['seed'] = parseInt(o['seed'][0]);
        o['steps'] = parseInt(o['steps'][0]);
        o['guidance_scale'] = parseFloat(o['guidance_scale'][0]);
        if (o['width'].length > 0) {
            o['width'] = parseInt(o['width'][0]);
        } else {
            o['width'] = null;
        }
        if (o['height'].length > 0) {
            o['height'] = parseInt(o['height'][0]);
        } else {
            o['height'] = null;
        }
        console.debug("request body ", o);
        // send request
        addLoading("loader", 0);
        let start = new Date();
        $.ajax({
            url: "/generate_image/",
            type: "POST",
            data: JSON.stringify(o),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(resp) {
                let reqId = resp.id;

                window.setTimeout(function(){
                    getRequestPrompts(reqId, resp.combs.length, start);
                }, 1000);
            },
            error: function(err) {
                console.error(err);
                var tips = $("#tips");
                tips.removeClass("");
                tips.addClass("text-danger");
                tips.html(err.statusText);
                btn.removeClass("disabled");
                removeLoading("loader", start);
            }

        });

        return false;
    });
    //bind range change event
    $("input[name='steps']").bind("change", function(e) {
        let steps = $("input[name='steps']").val();
        console.debug("steps is ", steps);
        let content = [
            "Steps - ",
            "<small class='text-secondary'>" + steps + "</small>"
        ].join("");
        $("#stepsLabel").html(content);
    });
    //bind column change event
    $("select[name='n_column']").bind("change", function(e) {
        let n_column = parseInt($("select[name='n_column']").val());
        renderImages(resp_images, n_column);   
    });
});

</script>

{% endblock %}